* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.game {
	display: flex;
	flex-direction: column;

	&__row {
		display: flex;
	}

	&__ceil {
		width: 58px;
		height: 58px;

		&_aqueous {
			background-color: blue;
		}

		&_common {
			background-color: green;
			border: 1px solid black;
		}
	}
}
